{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="log-content">
<div class="container py-5">
    <div class="row align-items-center py-5">
<h1>Login</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Login">

    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </form>
        </div>
    </div>
</div>
{% endblock %}